@import './../bootstrap/customizations';
@import './../bootstrap/pre-customizations';
@import './../../node_modules/bootstrap/scss/variables';
@import './../../node_modules/bootstrap/scss/mixins';

.hero {
  background-image: url(../images/hero-bg.jpg);
  background-size: cover;
  background-position: bottom center;
  height: 100vh;
  padding-top: 20vh;
  padding-bottom: 25vh;
}

.about {
  //height: 100vh;
  background: $black;
}

.about-title {
  background-image: url(../images/about-bg.jpg);
  background-size: cover;
  background-position: bottom center;
  min-height: 45vh;
}

.about-text {
  padding-top: 10vh;
  padding-bottom: 10vh;
  @include media-breakpoint-up(md) {
    padding-bottom: 10vh;
  }
}

.band-members {
  position: relative;
}

.band-member {
  background: $black;
  margin-bottom: 1.5em;
  box-shadow: 6px 6px 15px 0 rgba(0, 0, 0, 0.5);
  @include media-breakpoint-up(md) {
    position: absolute;
    top: -1em;
    z-index: 100;
  }
}

.band-member-name {
  //font-family: $sans;
  //text-transform: uppercase;
  margin-bottom: 0.25em;
}

.band-member-position {
  color: $gray-light;
}

.music {
  margin-top: 5em;
  margin-bottom: 5em;
}

.music-container {
  background: $black;
  box-shadow: 6px 6px 15px 0 rgba(0, 0, 0, 0.5);
  padding-top: 7vh;
  padding-bottom: 7vh;
}

.music-title {
  margin-bottom: 1em;
}

.music-cta {
  margin-top: 2em;
}

.upcoming-shows {

}

.shows {
  margin-top: 2em;
  font-size: .9em;
}

.show-title {
  font-family: $sans;
}

.show-info > * {
  margin-bottom: 0;
}

.show-info {
  display: flex;
  flex-direction: column;
}

.date {
  font-weight: $bold;
  margin-top: 1.25em;
  &::before {
    font-family: FontAwesome;
    content: '\f133';
    display: inline-block;
    margin-right: 0.5em;
  }
}

.price {
  font-weight: $bold;
  small {
    font-weight: $regular;
  }
  &::before {
    font-family: FontAwesome;
    content: '\f145';
    display: inline-block;
    margin-right: 0.5em;
  }
}