@import './../bootstrap/customizations';
@import './../bootstrap/pre-customizations';

.navbar-inverse .navbar-brand {
  font-family: $decorative;
  color: $brand-primary;
  font-size: 2rem;
}

.nav-item {
  margin-left: 2em;
  text-transform: uppercase;
  font-size: 1rem;
}