@import './../../node_modules/bootstrap/scss/variables';
@import './../../node_modules/bootstrap/scss/mixins';

.parallax {
  display: none;
  @include media-breakpoint-up(md) {
    height: 30vmax;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    display: block;
  }
}

.parallax-home {
  background-image: url(../images/parallax-image.jpg);
}