<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400|Rock+Salt" rel="stylesheet">
    <title><%= htmlWebpackPlugin.options.title %></title>
</head>
<body>
<nav class="navbar fixed-top navbar-toggleable-sm navbar-inverse bg-faded">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="#">Rock Band</a>
    <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">About</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Our Music</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Upcoming Shows</a>
            </li>
        </ul>
    </div>
</nav>

<section class="hero text-center">
    <div class="container">
        <h1 class="display-1">We are rock</h1>
        <div class="row justify-content-center">
            <div class="col-md-6">
                <p class="lead">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum
                    has
                    been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley
                    of
                    type and scrambled it to make a type specimen book. </p>
                <a class="btn btn-primary">Listen to our music</a>
            </div>
        </div>
    </div>
</section>

<section class="about">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6 about-title d-flex align-items-center justify-content-center">
                <h2 class="display-4">About</h2>
            </div>
            <div class="col-lg-4 col-md-6 about-text d-flex flex-column justify-content-center">
                <p><strong>Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit...</strong></p>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam euismod nec nisi et imperdiet. Sed eget
                    nisl eget ex vehicula tincidunt et eget risus. Etiam eleifend massa in ligula ullamcorper blandit.
                    Morbi congue a arcu et sagittis. Nulla consequat nulla felis, in tristique mauris fringilla id. </p>
                <p>In volutpat tellus suscipit ligula laoreet aliquam. Maecenas nec dapibus purus. Vestibulum ante ipsum
                    primis in faucibus orci luctus et ultrices posuere cubilia Curae; Fusce vulputate velit nec leo
                    viverra semper.</p>
            </div>
        </div> <!-- /row -->
    </div> <!-- /container-fluid -->

    <div class="container text-center band-members">
        <div class="row">
            <div class="col-md-4">
                <div class="card border-0 band-member">
                    <img  class="card-img-top img-fluid" src=<%= require('./images/eros-rock-star.jpg')%> alt="our singer">
                    <div class="card-block">
                        <h3 class="class-title text-primary band-member-name">Eros Fabbri</h3>
                        <p class="card-text band-member-position">Lead Singer</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card border-0 band-member">
                    <img  class="card-img-top img-fluid" src=<%= require('./images/guitar.jpg')%> alt="our lead guitar">
                    <div class="card-block">
                        <h3 class="class-title text-primary band-member-name">Pete Guitar</h3>
                        <p class="card-text band-member-position">Lead Guitar</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card border-0 band-member">
                    <img  class="card-img-top img-fluid" src=<%= require('./images/drummer.jpg')%> alt="our lead guitar">
                    <div class="card-block">
                        <h3 class="class-title text-primary band-member-name">Dave Drums</h3>
                        <p class="card-text band-member-position">Drums</p>
                    </div>
                </div>
            </div>
        </div> <!-- /row -->
    </div> <!-- /container -->
</section> <!-- /about section -->

<div class="parallax parallax-home"></div>

<section class="music text-center">
    <div class="container music-container">
        <h2 class="music-title">Our music</h2>
        <div class="row justify-content-center no-gutters">
            <div class="col-sm-3 col">
                <img class="img-fluid" src=<%= require('./images/album-01.jpg')%> alt="album 1">
            </div>
            <div class="col-sm-3 col">
                <img class="img-fluid" src=<%= require('./images/album-02.jpg')%> alt="album 2">
            </div>
            <div class="col-sm-3 col">
                <img class="img-fluid" src=<%= require('./images/album-03.jpg')%> alt="album 3">
            </div>
        </div>
        <div class="row justify-content-center no-gutters">
            <div class="col-sm-3 col">
                <img class="img-fluid" src=<%= require('./images/album-04.jpg')%> alt="album 4">
            </div>
            <div class="col-sm-3 col">
                <img class="img-fluid" src=<%= require('./images/album-05.jpg')%> alt="album 5">
            </div>
            <div class="col-sm-3 col">
                <img class="img-fluid" src=<%= require('./images/album-06.jpg')%> alt="album 6">
            </div>
        </div> <!-- /list 2 -->
        <p class="music-cta">See something you like?</p>
        <a href="#" class="btn btn-primary">Visit our store</a>
    </div> <!-- /container -->
</section><!-- /our music section -->

<section class="upcoming-shows">
    <div class="container">
        <h2 class="display-5 text-center">Upcoming Shows</h2>
        <div class="shows row no-gutters">
            <div class="col-lg-3 col-md-6">
                <div class="card border-0">
                    <img src=<%= require('./images/show-image-01.jpg')%> alt="show 1" class="card-img">
                    <div class="card-img-overlay show-info">
                        <h3 class="show-title">The music festival</h3>
                        <p>Montreal, QC, Canada</p>
                        <p class="date">07.07.2017
                        </p>
                        <p class="price"><small>Starting at</small> $25</p>
                        <a href="#" class="btn btn-primary mt-auto">Buy Tickets</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="card border-0">
                    <img src=<%= require('./images/show-image-02.jpg')%> alt="show 2" class="card-img">
                    <div class="card-img-overlay show-info">
                        <h3 class="show-title">The music festival</h3>
                        <p>Montreal, QC, Canada</p>
                        <p class="date">07.07.2017</p>
                        <p class="price"><small>Starting at</small> $25</p>
                        <a href="#" class="btn btn-primary mt-auto">Buy Tickets</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="card border-0">
                    <img src=<%= require('./images/show-image-03.jpg')%> alt="show 3" class="card-img">
                    <div class="card-img-overlay show-info">
                        <h3 class="show-title">The music festival</h3>
                        <p>Montreal, QC, Canada</p>
                        <p class="date">07.07.2017</p>
                        <p class="price"><small>Starting at</small> $25</p>
                        <a href="#" class="btn btn-primary mt-auto">Buy Tickets</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="card border-0">
                    <img src=<%= require('./images/show-image-04.jpg')%> alt="show 4" class="card-img">
                    <div class="card-img-overlay show-info">
                        <h3 class="show-title">The music festival</h3>
                        <p>Montreal, QC, Canada</p>
                        <p class="date">07.07.2017</p>
                        <p class="price"><small>Starting at</small> $25</p>
                        <a href="#" class="btn btn-primary mt-auto">Buy Tickets</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<footer>
    <div class="container">
        <div class="row">
            <div class="col-sm-5">
                <p>2017 Rock Band</p>
            </div>
            <div class="col-sm-7 social-links">
                <ul class="list-inline">
                    <li class="list-inline-item social-link"><a href="http://facebook.com">facebook</a></li>
                    <li class="list-inline-item social-link"><a href="http://twitter.com">twitter</a></li>
                    <li class="list-inline-item social-link"><a href="http://instagram.com">instagram</a></li>
                    <li class="list-inline-item social-link"><a href="http://soundcloud.com">soundcloud</a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>

<div id="root"></div>

<i class="fa fa-microphone" aria-hidden="true"></i>
<i class="fa fa-microphone" aria-hidden="true"></i>
<i class="fa fa-microphone" aria-hidden="true"></i>
<i class="fa fa-microphone" aria-hidden="true"></i>
<i class="fa fa-microphone" aria-hidden="true"></i>


</body>
</html>