// Start with assigning color names to specific hex values.
$black:  #1f1f1f;
$red:    #e23400;
$white:  #fff;

// Create grayscale
$gray:       #2d2d2d;
$gray-light: lighten($gray, 40%);


// Options
//
// Quickly modify global styling by enabling or disabling optional features.

$enable-rounded:            false;

// Body
//
// Settings for the `<body>` element.

$body-bg:       $gray;
$body-color:    $white;

$font-size-base: 1rem;

$display1-size: 7vw;
$lead-font-size: 1.3rem;

// Buttons
$btn-padding-y: .7em;
$btn-padding-x: 2rem;
